{{#i18n}}email-token-hi{{/i18n}} {{user.firstname}}

<p>
    {{#i18n}}email-token-intro{{/i18n}} <a href="{{baseUri}}">{{baseUri}}</a>.
    {{#i18n}}email-token-click{{/i18n}} <a href="{{baseUri}}/signin/{{user.email}}/{{user.token}}">{{user.token}}</a>
    {{#i18n}}email-token-past{{/i18n}}
</p>

<p style="text-align: center"><img src="{{baseUri}}/images/png/mxt-logo.png" style="maw-width:100%"></p>

{{#i18n}}email-token-signature{{/i18n}}